<div class="container-fluid">
	<div class="col-md-10 col-md-push-2" id="content_top">
		<h4>By Creating a Channel You Can upload Videos and Share as public or make private</h4>
		<div  id="content_top">
		<%= form_for @channel do |f| %>
		<div class="col-md-4">
				<br>
				<%=form_error%>
			<br>
			
			<div class="alert alert-info">
  			<strong>* </strong>Enter a channel name
			</div>
			<%= f.text_field :channel_name, :class=>"form-control", :placeholder=>"Eg: Jyaasa"%>
			<br>
			<div class="form-group">
			<%= f.select :status, ['Private', 'Public'],{},:class=>"col-md-12"%>
			<%= f.hidden_field :user_id, :value=>current_user.id%>
			<br><br>
			</div>
			<button class="btn btn-primary btn-lg">Create </button>
		</div>
		<%end%>
		</div>
	</div>
		</div>