<div class="container-fluid">
	<div class="col-md-10 col-md-push-2" id="content_top">
		<h4>Videos</h4>
	<%@videos.each do |s|%>
			<%= video_tag s.video, width: "280", height: "200", controls: true %>
			<%end%>

	</div>

	<div class="col-md-10 col-md-push-2" id="content_top">
			<h4>Channels</h4>
			<%@channels.each do |c|%>
				<div class="col-md-2">
				Channel: <%=c.name%><br><br>
				<button class="btn btn-primary btn-lg">Subscribe</button>
				</div>
			<%end%>
	</div>
</div>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>