<div class="container-fluid">
	<div class="col-md-10 col-md-push-2" id="content_top">
		<h4>New Videos</h4>
		<%=image_tag("video1.jpg")%><%=image_tag("video1.jpg")%><%=image_tag("video1.jpg")%>
	</div>
	<div class="col-md-10 col-md-push-2" id="content_top">
		<h4>New Channels</h4>
		<%=image_tag("video1.jpg")%><%=image_tag("video1.jpg")%><%=image_tag("video1.jpg")%>
	</div>
	<div class="col-md-10 col-md-push-2" id="content_top">
		<h4>Recommended Channels</h4>
		<%=image_tag("video1.jpg")%><%=image_tag("video1.jpg")%><%=image_tag("video1.jpg")%>
	</div>
</div>